/* 🔥 Atur ukuran logo */
.fi-logo {
    height: 40px !important;
}

/* Optional: sidebar width */
.fi-sidebar {
    width: 260px;
}

/* Optional: font */
body {
    font-family: 'Inter', sans-serif;
}